.container{
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 15px;
  transition: 0.3s;
  width: 15%;
  float: left;
  padding: 15px;
  margin:2%;
  background-color: rgb(254, 255, 249);
  font-family: "Times New Roman", Times, serif;
  cursor:pointer;
  p{
    font-size:10px
  }

  b{
    font-size:30px
  }
}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


img {
  float: right;
   width:50px;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 5s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}








